.about-container {
    background-color: #EAEAEA;
    border-radius: 12px;
    padding: 10px;
    text-align: justify;
}

.about-header {
    color: #00ABB3;
}

.about-content {
    font-size: larger;
    font-weight: bold;
    color: #3C4048;
}

.about-container hr {
    width: 90%;
}

.resume-btn {
    background-color:  #3C4048;
    font-size: 22px;
    border-radius: 10px;
    margin: 30px 0px;
    padding: 8px;
    width: 40px;
}

.resume-btn:hover {
    background-color: #00ABB3;
    color: #3C4048;
}